@charset "utf-8";
/* CSS Document */
* {
	text-align: center;
}

body {
	background-color: rgb(1, 46, 1);
	color: white;
	font-family: 'Neucha', cursive;
}

header {
	font-family: 'Sigmar One', cursive;
	text-align: center;
	align-items: center;
	justify-content: center;
	background-color: lightgreen;
	text-shadow: 3px 3px 5px brown;
	font-size: 45px;
	padding: 20px;
	margin: 50px;	
	border-radius: 25%;
}

h1 {
	font-size: 38px;
}

img {
	width: 400px;
	height: auto;
}

p {
	text-align: center;
	font-size: 28px;
	margin: 60px;

}

.lastline {
	font-family: 'Merienda', cursive;
	font-size: 34px;

}